@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Urbanist', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
    --color-primary: #00A86B;
    --color-primary-dark: #008F5A;
    --color-primary-light: #00C17D;
}

/* Urbanist as default */
body {
    font-family: 'Urbanist', sans-serif;
}
