@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Urbanist', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
    --color-primary: #1E40AF;
    --color-primary-dark: #1E3A8A;
    --color-primary-light: #3B82F6;
}

/* Urbanist as default */
body {
    font-family: 'Urbanist', sans-serif;
}
